.wishlist a.action-wishlist{
    position: relative;
    z-index: 2;
}

ul.wishlist {
	list-style: none;
	margin:0;
	padding:0;

	li {
		a {
			text-decoration: none;
			font-weight: 700;
			font-size: var(--fs-sm);

			svg {
				width: 22px;
				height: 22px;
				fill: white;
				//stroke: black;
			}



			&:hover{

				svg {
					color: var(--blue);
                    fill: var(--blue);
					//stroke: var(--blue);
				}
			}


            &.ajax--remove-from-wishlist-link {
                svg {
                    color: var(--blue);
                    fill: var(--blue);
                }
            }
		}


	}

    &.hide {
        display: none;
    }
}


// https://loading.io/css/
.loading-ring {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 22px;
        height: 22px;
        margin: 2px;
        border: 2px solid var(--blue);
        border-radius: 50%;
        animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: var(--blue) transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
